################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularTemplate/.vs
/AngularTemplate/AngularTemplate.ASPWebForm/bin
/AngularTemplate/AngularTemplate.ASPWebForm/obj/Debug
